@import url("https://use.typekit.net/hbd2rkx.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "museo-sans", sans-serif;
  }
  body{
    width: 1372px;
    max-width: 1372px;
    height: 771px;
    background-image: url(../../imagenes/169_Ricardo_ljzf8h\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
  }

  .contenedor_loader{
    background-color: #f3f3f3;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    transition: all 2.5s;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .loader,
  .loader:before,
  .loader:after{
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation: loader 1.5s infinite ease-in-out;
  }
  .loader{
    color: #EDB352;
    font-size: 13px;
    position: relative;
    animation-delay: -0.16s;
 }
 .loader::before,
 .loader:after{
  content: '';
  position: absolute;
  top: 0;
 }
 .loader:before{
  left: -3.5em;
  animation-delay: -0.32s;
 }
 .loader:after{
  left: 3.5em;
 }

 @keyframes loader {
  0%,
  80%,
  100% {
  box-shadow: 0 2.5em 0 -1.3em;
  }
  40%{
    box-shadow: 0 2.5em 0 0;
  }
 }

  #form{
    padding: 0 50px;
    }
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
position: absolute;
width: 408px;
height: 604px;
left: 580px;
top: 100px;
background: #FFFFFF;
box-shadow: 0px 4px 20px 15px rgba(0, 0, 0, 0.05);
border-radius: 25px;
}
header h1{
width: 300px;
height: 30px;
left: 362px;
top: 236px;
padding: 0 0 20px;
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 120%;

display: flex;
align-items: center;
text-align: center;

color: #000002;

}
header p{
width: 300px;
height: 25px;
left: 362px;
top: 298px;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 25px;
color: #20212F;
padding: 10px 0;
}
header input{
left: 378px;
top: 341px;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
color: #9B9B9B;
background: #FFFFFF;
border: 1px solid #E0E0E0;
border-radius: 5px;
width: 300px;
height: 44px;
left: 362px;
padding: 10px 10px;
margin: 10px 0 0;
}
header button{
  cursor: pointer;
width: 200px;
height: 48px;
background: linear-gradient(180deg, #FF8033 0%, #EDB352 100%);
border-radius: 50px;
color: #FFFFFF;
font-size: 18px;
border: none;
text-align: center;
line-height: 22px;
letter-spacing: 1px;
margin: 35px 50px 20px;
}
.logo{
  padding:0 80px 9px;
}
.warnings{
  font-weight: 700;
  text-align: center;
  color: #EDB352;
}

.icon_eye{
  cursor: pointer;
  position: absolute;
  right: 63px;
  top: 63%;
  transform: translateY(-8px);
  color: #000002;
}
.icon_eye:hover{
  color: #5D99CD;
}